
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: 100% inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/* article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  min-width: 320px;
  overflow-x: auto;
}
body {
  font-family: 'circular', serif;
  font-size: 16px;
  line-height: 1.42857143;
  color: #0e0e0e;
  background-color: #ffffff;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: none;
}
a {
  color: blue;
  text-decoration: underline;
}
a:hover,
a:focus {
  color: #4a4a4a;
  text-decoration: underline;
}
[role='button'] {
  cursor: pointer;
}
.zui-svg-icon {
  width: auto;
}
.font-weight-light {
  font-weight: 100;
}
.font-weight-regular {
  font-weight: 400;
}
.font-weight-bold {
  font-weight: 700;
}
.font-family-serif {
  font-family: 'new-spirit', serif;
}
.font-family-script {
  font-family: 'Sakura Regular', 'Georgia', serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.h7 {
  font-family: 'circular', serif;
  font-weight: 600;
  line-height: 1.1;
  color: #21201f;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
.h7 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small,
.h7 .small {
  font-weight: 400;
  line-height: 1;
}
h1.font-family-script,
h2.font-family-script,
h3.font-family-script,
.h1.font-family-script,
.h2.font-family-script,
.h3.font-family-script,
h1 > .font-family-script,
h2 > .font-family-script,
h3 > .font-family-script,
.h1 > .font-family-script,
.h2 > .font-family-script,
.h3 > .font-family-script {
  font-size: 150%;
}
h1,
.h1 {
  font-family: 'new-spirit', serif;
  font-size: 32px;
  font-weight: 500;
}
h2,
.h2 {
  font-size: 30px;
  letter-spacing: 0;
  font-weight: 400;
}
h3,
.h3 {
  font-size: 24px;
  letter-spacing: 0.2px;
  font-weight: 400;
}
h4,
.h4 {
  font-size: 18px;
  letter-spacing: 0;
  font-weight: 400;
}
h5,
.h5 {
  font-size: 14px;
  letter-spacing: 1.2px;
  font-weight: 600;
}
h6,
.h6 {
  font-size: 12px;
  letter-spacing: 1.2px;
  font-weight: 600;
}
p,
.p {
  margin: 0 0 11px;
  font-size: 16px;
  font-weight: 400;
  color: #0e0e0e;
}
p small,
.p small,
p .small,
.p .small {
  font-size: 12px;
}
@media (max-width: 992px) {
  p.responsive,
  .p.responsive {
    font-size: 18px;
  }
  p.responsive small,
  .p.responsive small,
  p.responsive .small,
  .p.responsive .small {
    font-size: 14px;
  }
}
.mobile-text p,
.mobile-text .p {
  font-size: 18px;
}
.mobile-text small,
.mobile-text .small {
  font-size: 14px;
}


 */
/* E M P I E Z A  M I  C O D I G O */

* {
    box-sizing: border-box;
    text-align: center;
  }

body {
    margin: 0;
    font-family: circular, serif;
    font-size: 16px;
    line-height: 1.42857143;
    color: #0e0e0e;
    
  }

  div {
    display: block;
  }

h1 {

    font-family: "Homemade Apple";
    color: rgb(81, 84, 163);
    font-weight: 400;
    text-transform: none;
    line-height: 2;
    letter-spacing: 5px;
    font-size: 40px;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    }

nav {
    background-color: #F1F0F0;
    margin-left: auto;
    margin-right: auto;
    z-index: 400;
    position: sticky;
    top: 0;
    padding-top: 20px;
    padding-bottom: 12px;
    display: flex;
    justify-content: center;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    text-align: center;
    border: 0;
    font: 100% inherit;
    vertical-align: baseline;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

nav a {
    text-decoration: none;
    font-family: "Libre Baskerville";
    color: rgb(81, 84, 163);
    font-weight: 400;
    text-transform: none;
    line-height: 1.63;
    letter-spacing: normal;
    font-size: 16px;
    margin: 0 12px;
    padding: 8px 0;
    position: relative;
}

#container img {
    width: 550px;
    height: 550px;
    z-index: 10;
    top: -40px;
    right: -40px;
}

#Home {
    background-color: rgb(244, 239, 233);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: inherit;
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 150;
    padding-top: 65px;
    padding-right: 32px;
    padding-left: 32px;
}

#container {
    display: flex;
    flex-flow: row;
    min-height: 300px;
    background-color: #F1F0F0;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    aspect-ratio: 12 / 7;
    width: 100%;
    height: 100%;
    z-index: 100;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
}

#Card {
    padding-top: 90px;
    padding-bottom: 120px;
    max-width: 100%;
    padding-left: 32px;
    padding-right: 32px;
    text-align: center;
    margin: 0px;
    position: relative;
}

#Card h2 {
    font-family: "Homemade Apple";
    color: rgb(152, 94, 41);
    font-weight: 400;
    font-size: 65px;
    text-transform: none;
    line-height: 2;
    letter-spacing: 5px;
    margin: 32px 0;
    background-image: none;
    position: relative;
    z-index: 300;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    overflow-wrap: anywhere;
}

h3 {

    overflow-wrap: anywhere;
    position: relative;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0px;
    font-family: "Homemade Apple";
    color: rgb(152, 94, 41);
    font-weight: 400;
    text-transform: none;
    line-height: 2;
    letter-spacing: 5px;
    font-size: 35px;
}

p {
    font-family: "Libre Baskerville";
    color: rgb(152, 94, 41);
    font-weight: 400;
    text-transform: none;
    line-height: 1.63;
    letter-spacing: normal;
    font-size: 16px;
    white-space: pre-wrap;
    margin: 0 0 11px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}

img {
    margin-top: 80px;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
    aspect-ratio: 12 / 7;
    width: 100%;
    height: 100%;
}