html {
  -webkit-text-size-adjust: 100%;
}

* {
    box-sizing: border-box;
    text-align: center;
  }

body {
    margin: 0;
    font-family: circular, serif;
    font-size: 16px;
    line-height: 1.42857143;
    color: #0e0e0e;
    
  }

div {
    display: block;
  }

header {
    background-color: #F1F0F0;
    margin-left: auto;
    margin-right: auto;
    z-index: 500;  
    position: -webkit-sticky;
  /*   padding-top: 20px;
    padding-bottom: 12px; */
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    font: 100% inherit;
    vertical-align: baseline;
/*     margin-block-start: 1em;
    margin-block-end: 1em; */

  }

h1 {

    font-family: "Homemade Apple";
    color: rgb(81, 84, 163);
    font-weight: 400;
    text-transform: none;
    line-height: 2;
    letter-spacing: 5px;
    font-size: 40px;
    display: block;
  }

nav {
    background-color: #F1F0F0;
    margin-left: auto;
    margin-right: auto;
  }

nav a {
    font-family: "Libre Baskerville";
    color: rgb(81, 84, 163);
    font-weight: 400;
    line-height: 1.63;
    letter-spacing: normal;
    font-size: 16px;
    text-transform: none;
    margin: 0 12px;
/*     padding: 8px 0; */
    position: relative;
    text-align: center;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    text-decoration: none;
    background-color: transparent;

  }

nav a:hover {
   text-decoration: underline;
   cursor: pointer;
   
  }

  main {
    background-image: url('./Fotos/background.jpeg');
    position: relative;
    overflow: clip;
    background-color: #F4EFE9;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: inherit;
     }

#container img {
    width: 550px;
    height: 550px;
    z-index: 10;
    top: -40px;
    right: -40px;
    }

#home {
    /* background-color: rgb(244, 239, 233);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: inherit; */
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 150;
    padding-top: 65px;
    padding-right: 32px;
    padding-left: 32px;
  }

#container {
    display: flex;
    flex-flow: row;
    min-height: 300px;
    background-color: #F1F0F0;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    aspect-ratio: 12 / 7;
    width: 100%;
    height: 100%;
    z-index: 100;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
  }

#card {
    padding-top: 90px;
    padding-bottom: 120px;
    max-width: 100%;
    padding-left: 32px;
    padding-right: 32px;
    text-align: center;
    margin: 0px;
    position: relative;
  }

#card h2 {
    font-family: "Homemade Apple";
    color: rgb(152, 94, 41);
    font-weight: 400;
    font-size: 65px;
    text-transform: none;
    line-height: 2;
    letter-spacing: 5px;
    margin: 32px 0;
    background-image: none;
    position: relative;
    z-index: 300;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    overflow-wrap: anywhere;
  }

h3 {

    overflow-wrap: anywhere;
    position: relative;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0px;
    font-family: "Homemade Apple";
    color: rgb(152, 94, 41);
    font-weight: 400;
    text-transform: none;
    line-height: 2;
    letter-spacing: 5px;
    font-size: 35px;
  }

p {
    font-family: "Libre Baskerville";
    color: rgb(152, 94, 41);
    font-weight: 400;
    text-transform: none;
    line-height: 1.63;
    letter-spacing: normal;
    font-size: 16px;
    white-space: pre-wrap;
    margin: 0 0 11px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

img {
    margin-top: 80px;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
    aspect-ratio: 12 / 7;
    width: 100%;
    height: 100%;
  }

  @font-face {
    font-family: 'Libre Baskerville';
    font-weight: 700;
    src: url('https://d1tntvpcrzvon2.cloudfront.net/static-assets/fonts/LibreBaskerville-Bold.ttf');
  }